---
# https://active-directory-wp.com/docs/Networking/Single_Sign_On/Kerberos_SSO_with_Apache_on_Linux.html
# https://people.redhat.com/mskinner/rhug/q1.2014/Apache_httpd.pdf
# https://www.server-world.info/en/note?os=CentOS_7&p=httpd&f=9
# https://www.server-world.info/en/note?os=Ubuntu_16.04&p=httpd&f=12

- name: Ensure kerberos packages are present for AD SSO
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  with_items: "{{ harden_apache_ad_sso_pkg }}"
  register: pkg_result
  until: pkg_result is success

- name: Configure server keytab
  ansible.builtin.copy:
    src: "{{ harden_apache_ad_sso_keytab }}"
    dest: "{{ harden_apache_ad_sso_keytab_dest }}"
    owner: "{{ www_user }}"
    group: root
    mode: '0640'

- name: Ensure DNS resolution is using domain - search
  ansible.builtin.lineinfile:
    dest: /etc/resolv.conf
    regexp: "{{ item.re }}"
    line: "{{ item.l }}"
    mode: '0644'
    backup: true
  with_items:
    - { re: '^search .*', l: "search {{ harden_apache_ad_sso_domain }}" }
  when: not (ansible_virtualization_type is defined and (ansible_virtualization_type == "docker"))

- name: Ensure DNS resolution is using domain - nameservers
  ansible.builtin.lineinfile:
    dest: /etc/resolv.conf
    regexp: "^nameserver {{ item }}"
    line: "nameserver {{ item }}"
    mode: '0644'
    backup: true
  with_items: "{{ harden_apache_ad_sso_domain_dns }}"
  when: not (ansible_virtualization_type is defined and (ansible_virtualization_type == "docker"))

- name: Debian | Ensure required apache modules are loaded
  apache2_module:
    state: present
    name: "{{ item }}"
  with_items:
    - auth_kerb
  when: ansible_os_family == 'Debian'
  notify:
    - Restart apache
    - Restart apache - docker

- name: Ensure directory paths for AD SSO exist
  ansible.builtin.file:
    dest: "{{ item }}"
    mode: '0755'
    state: directory
  with_items: "{{ harden_apache_ad_sso_dir_path }}"

- name: AD SSO template
  block:
    - name: Push AD SSO configuration template
      ansible.builtin.template:
        src: "{{ harden_apache_ad_sso_conf_template }}.j2"
        dest: "{{ apache_confdir }}/{{ harden_apache_ad_sso_conf_template }}"
        mode: 0644
      notify:
        - Restart apache
        - Restart apache - docker
    - name: Enable AD SSO configuration
      ansible.builtin.file:
        src: "{{ apache_confdir }}/{{ harden_apache_ad_sso_conf_template }}"
        dest: "/etc/apache2/conf-enabled/{{ harden_apache_ad_sso_conf_template }}"
        mode: '0644'
        state: link
      notify:
        - Restart apache
        - Restart apache - docker
      when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  when: harden_apache_ad_sso_conf_template is defined and harden_apache_ad_sso_conf_template

- name: Htaccess
  block:
    - name: Add template SSO htaccess to listed path
      ansible.builtin.template:
        src: "{{ harden_apache_ad_sso_htaccess_template }}"
        dest: "{{ item }}/.htaccess"
        mode: '0644'
        backup: true
      with_items: "{{ harden_apache_ad_sso_dir_path }}"
  when: harden_apache_ad_sso_htaccess_template is defined and harden_apache_ad_sso_htaccess_template

# verify_krb5_conf is only available in heimdal-clients kerberos package
#   and requires AD/kerberos server to be online
- name: Configure local kerberos
  ansible.builtin.template:
    src: krb5.conf.j2
    dest: /etc/krb5.conf
    mode: '0644'
    backup: true
#    validate: 'verify_krb5_conf %s'
