---

- name: disable default apache site
  ansible.builtin.file: dest=/etc/apache2/sites-enabled/000-default.conf state=absent
  notify:
    - restart apache
    - restart apache - docker
  register: disdefault
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
- name: Debug | /etc/apache2/sites-enabled/000-default.conf state
  ansible.builtin.debug: var=disdefault
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: disable apache port 80
  ansible.builtin.replace:
    dest: /etc/apache2/ports.conf
    regexp: "{{ item.regexp }}"
    replace: "{{ item.replace }}"
    mode: '0644'
  with_items:
    - { regexp: '^Listen 80', replace: '#Listen 80' }
    - { regexp: '^Listen (.*):80', replace: '#Listen \1:80' }
  notify:
    - restart apache
    - restart apache - docker
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: Restrict listening interface
  ansible.builtin.replace:
    dest: /etc/httpd/conf/httpd.conf
    regexp: "{{ item.regexp }}"
    replace: "{{ item.replace }}"
    mode: '0644'
  with_items:
    - { regexp: '^Listen 80', replace: '#Listen 80' }
    - { regexp: '^Listen (.*):80', replace: '#Listen \1:80' }
  notify:
    - restart apache
    - restart apache - docker
  when: ansible_os_family == "RedHat"
