---
## https://www.digitalocean.com/community/tutorials/how-to-set-up-mod_security-with-apache-on-debian-ubuntu
## https://www.feistyduck.com/library/modsecurity-handbook-free/

- name: Modsecurity install
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  with_items: "{{ harden_apache_modsecurity }}"
  register: pkg_result
  until: pkg_result is success

- name: Check if modsecurity.conf exists
  ansible.builtin.stat:
    path: "{{ modsecurity_conf }}"
  register: confms
- name: Debug | modsecurity.conf state
  ansible.builtin.debug:
    var: confms
- name: Copy default recommended modsecurity.conf
  ansible.builtin.copy:
    src: /etc/modsecurity/modsecurity.conf-recommended
    dest: "{{ modsecurity_conf }}"
    mode: '0644'
    remote_src: true
  notify:
    - Restart apache
    - Restart apache - docker
  when: not confms.stat.exists and (ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Ubuntu')

- name: Import apache-modsecurity-crs2
  ansible.builtin.import_tasks: apache-modsecurity-crs2.yml
  when: (ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version']|int < 18)

- name: Import apache-modsecurity-crs3
  ansible.builtin.import_tasks: apache-modsecurity-crs3.yml
  when: (ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version']|int >= 18)

- name: Review modsecurity.conf (1)
  ansible.builtin.replace:
    dest: "{{ modsecurity_conf }}"
    regexp: "{{ item.regexp }}"
    replace: "{{ item.replace }}"
    mode: '0644'
    backup: yes
  with_items:
    - { regexp: 'SecRuleEngine .*', replace: "SecRuleEngine {{ hardenwebserver_apache_modsecurity_engine }}" }
    - { regexp: 'SecResponseBodyAccess On', replace: 'SecResponseBodyAccess Off' }
    - { regexp: 'SecAuditLogParts ABIJDEFHZ', replace: 'SecAuditLogParts ABCIJDEFHZ' }
  notify:
    - Restart apache
    - Restart apache - docker

- name: Configure Json log in modsecurity.conf - PR#914, 2.9.1+
  ansible.builtin.lineinfile:
    dest: "{{ modsecurity_conf }}"
    regexp: "{{ item.regexp }}"
    line: "{{ item.replace }}"
    mode: '0644'
    backup: yes
  with_items:
    - { regexp: 'SecAuditLogFormat .*', replace: "SecAuditLogFormat JSON" }
  notify:
    - Restart apache
    - Restart apache - docker
  when: harden_apache_modsecurity_jsonlog and not (ansible_facts['os_family'] == "RedHat" and ansible_facts['distribution_major_version'] | int <= 7)
