---

- name: Ensure openssl is present
  ansible.builtin.package:
    name: "{{ openssl_pkgs | default(['openssl', 'python3-pip', 'python3-setuptools', 'python3-openssl']) }}"
    state: present
  register: pkg_result
  until: pkg_result is success

- name: Debian | self-signed certificate packages dependencies
  ansible.builtin.apt:
    name: ssl-cert
    state: present
    update_cache: true
    cache_valid_time: 3600
  when: ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Ubuntu'
  register: pkg_result
  until: pkg_result is success

- name: Ensure python cryptography is present - pip
  ansible.builtin.pip:
    name: cryptography
    state: present
    executable: "{{ hardenwebserver_apache_cryptography | default('pip3') }}"
  when: >
    (ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version']|int < 24) or
    (ansible_facts['distribution'] == 'Debian' and ansible_facts['distribution_major_version']|int < 12)

- name: Ensure python cryptography is present - system package
  ansible.builtin.package:
    name: python3-cryptography
    state: present
  when: >
    (ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version']|int >= 24) or
    (ansible_facts['distribution'] == 'Debian' and ansible_facts['distribution_major_version']|int >= 12) or
    (ansible_facts['os_family'] == 'RedHat' and ansible_facts['distribution_major_version']|int >= 9)

- name: Ensure target directory exists
  ansible.builtin.file:
    dest: "{{ ssl_privatedir | dirname }}"
    state: directory
    mode: '0755'

- name: Check if OpenSSL private key exists
  ansible.builtin.stat:
    path: "{{ ssl_privatedir }}/{{ ansible_facts['fqdn'] }}.key"
  register: private_key

- name: Generate an OpenSSL private key
  community.crypto.openssl_privatekey:
    path: "{{ ssl_privatedir }}/{{ ansible_facts['fqdn'] }}.key"
  when: not private_key.stat.exists

- name: Generate an OpenSSL Certificate Signing Request
  community.crypto.openssl_csr:
    path: "{{ ssl_privatedir }}/{{ ansible_facts['fqdn'] }}.csr"
    privatekey_path: "{{ ssl_privatedir }}/{{ ansible_facts['fqdn'] }}.key"
    organization_name: "{{ cert_orgname | default('Ansible') }}"
    common_name: "{{ certificate_cn }}"
    subject_alt_name: "{{ cert_san | default(omit) }}"
    use_common_name_for_san: "{{ cert_use_cn_san | default(omit) }}"
    email_address: "{{ cert_email | default(omit) }}"

- name: Generate SSL self-signed certificate
  community.crypto.x509_certificate:
    path: "{{ ssl_dir }}/{{ ansible_facts['fqdn'] }}.crt"
    privatekey_path: "{{ ssl_privatedir }}/{{ ansible_facts['fqdn'] }}.key"
    csr_path: "{{ ssl_privatedir }}/{{ ansible_facts['fqdn'] }}.csr"
    ownca_not_after: "{{ hardenwebserver_certduration | default('+90d') }}"
    provider: selfsigned

- name: Validate private key file permissions
  ansible.builtin.file:
    path: "{{ ssl_privatedir }}/{{ ansible_facts['fqdn'] }}.key"
    owner: "root"
    group: "{% if ansible_facts['os_family'] == 'Debian' %}ssl-cert{% else %}root{% endif %}"
    mode: '0440'
