---

- name: Ensure openssl is present
  ansible.builtin.package:
    name: "{{ openssl_pkgs | default(['openssl', 'python3-pip', 'python3-setuptools', 'python3-openssl' ]) }}"
    state: present
  register: pkg_result
  until: pkg_result is success

- name: apt | self-signed certificate packages dependencies
  ansible.builtin.apt:
    name: ssl-cert
    state: present
    update_cache: true
    cache_valid_time: 3600
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  register: pkg_result
  until: pkg_result is success

- name: Ensure python cryptography is present
  ansible.builtin.pip:
    name: cryptography
    state: present
    executable: "{{ hardenwebserver_apache_cryptography | default('pip3') }}"

- name: Ensure target directory exists
  ansible.builtin.file:
    dest: "{{ ssl_privatedir | dirname }}"
    state: directory
    mode: '0755'

- name: Check if OpenSSL private key exists
  ansible.builtin.stat:
    path: "{{ ssl_privatedir }}/{{ ansible_fqdn }}.key"
  register: private_key

- name: Generate an OpenSSL private key
  openssl_privatekey:
    path: "{{ ssl_privatedir }}/{{ ansible_fqdn }}.key"
  when: not private_key.stat.exists

- name: Generate an OpenSSL Certificate Signing Request
  openssl_csr:
    path: "{{ ssl_privatedir }}/{{ ansible_fqdn }}.csr"
    privatekey_path: "{{ ssl_privatedir }}/{{ ansible_fqdn }}.key"
    organization_name: "{{ cert_orgname | default('Ansible') }}"
    common_name: "{{ ansible_fqdn }}"
    subject_alt_name: "{{ cert_san | default(omit) }}"
    email_address: "{{ cert_email | default(omit) }}"

- name: Generate SSL self-signed certificate
  openssl_certificate:
    path: "{{ ssl_dir }}/{{ ansible_fqdn }}.crt"
    privatekey_path: "{{ ssl_privatedir }}/{{ ansible_fqdn }}.key"
    csr_path: "{{ ssl_privatedir }}/{{ ansible_fqdn }}.csr"
    ownca_not_after: "{{ hardenwebserver_certduration | default('+90d') }}"
    provider: selfsigned

- name: Validate private key file permissions
  ansible.builtin.file:
    path: "{{ ssl_privatedir }}/{{ ansible_fqdn }}.key"
    owner: "root"
    group: "{% if ansible_os_family == 'Debian' %}ssl-cert{% else %}root{% endif %}"
    mode: '0440'
