---
# https://snuffleupagus.readthedocs.io/installation.html

- name: snuffleupagus | ensure dependencies are present
  package:
    name: "{{ item }}"
    state: present
  with_items: "{{ snuffleupagus_pkgs | default([]) }}"
  register: pkg_result
  until: pkg_result is success

- name: snuffleupagus | ensure archives folder exists
  file:
    dest: "{{ install_archives }}"
    state: directory
    mode: '0755'

- name: snuffleupagus | git clone
  git:
    repo: https://github.com/nbs-system/snuffleupagus
    dest: "{{ install_archives }}/snuffleupagus"
    version: "{{ hardenapache2_snuffleupagus_version | default('c5d249119375c95fdcdf4124b330c918fb03f4b5') }}"
    update: false

- name: snuffleupagus | build
  command: "{{ item.c }}"
  with_items:
    - { c: phpize, t: Makefile }
    - { c: './configure --enable-snuffleupagus', t: Makefile }
    - { c: make, t: "{{ install_archives }}/snuffleupagus/src/modules/snuffleupagus.so" }
  args:
    chdir: "{{ install_archives }}/snuffleupagus/src"
    creates: "{{ item.t }}"

- name: snuffleupagus | install
  command: "{{ item }}"
  with_items:
    - make install
  args:
    chdir: "{{ install_archives }}/snuffleupagus/src"
    creates: /usr/lib/php/20170718/snuffleupagus.so

- name: snuffleupagus | configure php
  template:
    src: php7-snuffleupagus.conf.j2
    dest: "{{ harden_apache_phpdir }}/{{ item }}/conf.d/php7-snuffleupagus.{{ php_confext }}"
    mode: '0644'
  with_items:
    - "{{ _harden_apache_php_variants }}"
  notify:
    - restart apache
    - restart apache - docker

- name: snuffleupagus | check if existing secret
  stat: path="/root/.php7_done"
  register: done

- name: snuffleupagus | generate secret_key
  shell: |
    set -o pipefail
    head -c 256 /dev/urandom | tr -dc 'a-zA-Z0-9' | tee /root/.php7_done
  args:
    executable: /bin/bash
  changed_when: false
  register: snuffleupagus_secret1
  when: not done.stat.exists or done.stat.size == 0

- name: snuffleupagus | recover secret_key
  command: "cat /root/.php7_done"
  changed_when: false
  register: snuffleupagus_secret2
  when: done.stat.exists and done.stat.size != 0

- name: snuffleupagus | configure rules
  template:
    src: "{{ harden_php7_snuffleupagus_rules_template }}"
    dest: "{{ harden_apache_phpdir }}/snuffleupagus-rules.ini"
    mode: '0644'
  notify:
    - restart apache
    - restart apache - docker
