---

## (default ubuntu 7200)
- name: Lower tcp keepalive time against slow attacks
  ansible.posix.sysctl:
    name: "net.ipv4.tcp_keepalive_time"
    value: 90
    sysctl_set: yes
    state: present
    reload: yes
  when: >
    not (ansible_facts['virtualization_type'] is defined and
          (ansible_facts['virtualization_type'] == "lxc" or ansible_facts['virtualization_type'] == "docker")
        )
