---

- name: reload systemd
  systemd:
    daemon_reload: yes
  when: >
    not (ansible_virtualization_type is defined and (ansible_virtualization_type == "docker"))

- name: restart apache
  service: name={{ apache_svc }} state=restarted
  when: not (ansible_virtualization_type is defined and ansible_virtualization_type == "docker")

- name: restart apache - docker
  shell: "{% if ansible_os_family == 'RedHat' %}pkill httpd; /usr/sbin/httpd{% else %}apache2ctl restart{% endif %}"
  when: (ansible_virtualization_type is defined and ansible_virtualization_type == "docker")

- name: restart rsyslog
  service: name=rsyslog state=restarted

- name: run ldconfig
  command: ldconfig

- name: add public file to www dir to fullfill letsencrypt challenge
  copy:
    dest: "{{ hardenwebserver_rootdir }}/{{ le_challenge['challenge_data'][ certificate_cn ]['http-01']['resource'] }}"
    content: "{{ le_challenge['challenge_data'][ certificate_cn ]['http-01']['resource_value'] }}"
    mode: '0644'
