---

- name: restart apache
  service: name={{ apache_svc }} state=restarted
  when: not (ansible_virtualization_type is defined and ansible_virtualization_type == "docker")

- name: restart rsyslog
  service: name=rsyslog state=restarted
